.logoImg{
    width:256px;
    height: 90px;
    text-align: center;
    display: block;
    margin: 0 auto;
}
.logo{
    display: inline-block;
    width: 256px;
    height: 70px;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
#main-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}
#primary-content{
    display: flex;
    min-height: 100%;
}
#primary-content main{
    width: 60%;
    margin-left: 120px;
}
#primary-content h2{
    font-size: 40px;
    width: 300px;
    font-family: 'Roboto Condensed', sans-serif;
    background: rgba(34, 34, 34, 0.4);
    color: rgb(0, 162, 255);
}
#primary-content {
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(0, 162, 255);
    margin-top: 30px;
    background: rgba(0, 0, 0, 0.4);
}
#primary-content aside{
    width: 40%;
    border-color:rgb(75, 75, 75);
    border-style: solid;
    padding-left: 20px;
    margin-right: 160px;
    margin-top: 40px;
}
#about-wrapper{
    background: rgba(34, 34, 34, 0.2);
}
#forum-content main{
    width: 300px;
}
#forum-primary-content main{
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(0, 162, 255);
    margin-top: 30px;
    width: 40%;
}
#forum-primary-content aside{
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(0, 162, 255);
    margin-top: 30px;
    width: 40%;
}
#forum-primary-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    padding-left: 40px;
    padding-right: 20px;
    background: rgba(0, 0, 0, 0.4);
}

.divBorder{
    border-color:rgb(75, 75, 75);
    background: rgba(0, 0, 0, 0.4);
    border-style: solid;
    padding-left: 20px;
    margin-left: 160px;
    margin-top: 40px;
    width: 400px;
}
nav{
    display: flex;
    justify-content: space-between;
    background: rgba(34, 34, 34, 20.7);
    align-items: center;
}

nav ul{
    display: flex;
    align-items: center;
    background:none;
    flex-wrap: wrap;
}
nav ul li{
    border-bottom:none;
    position: relative;
    list-style-type: none;
    margin-left: 200px;
}
nav ul li a{
    text-decoration: none;
}
nav ul li a:hover{
    color: rgb(75, 75, 75);
}
body{
    background-image: url("resources/homeBackground.jpg");
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.h1Title{
    font-family: 'Passion One', cursive;
    font-size: 100px;
    color: rgb(0, 162, 255);
    text-align: center;
}
.pHomePage{
    font-size: 20px;
    color: rgb(0, 162, 255);
    background: rgba(0, 0, 0, 0.4);
}
.h3HomePage{
    font-size: 30px;
    color: rgb(12, 112, 226);
}
li{
    font-size: 20px;
    color: rgb(0, 162, 255);
}
.h1Alt{
    text-align: center;
    font-size: 150px;
    color: rgb(0, 162, 255);
}
footer{
    color: rgb(0, 162, 255);
    text-align: center;
    background-color: rgb(75, 75, 75);
}
article{
    color: white;
    font-size: 25px;
}
.aboutArticle{
    color: white;
    font-size: 25px;
}
.h2Forums{
    text-decoration: underline;
    font-size: 60px;
    color: rgb(12, 112, 226);
}
.pAbout{
    color: rgb(0, 162, 255);
    font-size: 25px;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
}
.h1About{
    font-size: 45px;
    color: rgb(0, 162, 255);
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
}
.h2About{
    font-size: 30px;
    color: rgb(12, 112, 226);
    background: rgba(0, 0, 0, 0.4);
}
#about-flex{
    border-color:rgb(75, 75, 75);
    border-style: solid;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 100px;
    margin-top: 10px;
    width: 400px;
}
a{
    color:rgb(12, 112, 226);
}
span{
    color: rgb(100, 232, 255);
    font-size: 30px;
    font-family: 'Podkova', serif;
}
.profileInfoAside{
    border: 5px;
    top: 612px;
    left: 1183px;
    width: 304px;
    height: 120px;
    position: absolute;
    outline-color: rgb(12, 112, 226);
    outline-style: solid;
    background: rgba(0, 0, 0, 0.4);
}
.pContact{
    color: rgb(0, 162, 255);
    font-size: 25px;
    text-align: left;
    left: 120px;
}
.contactInfoAside{
    border: 5px;
    top: 564px;
    left: 103px;
    width: 304px;
    height: 320px;
    position: absolute;
    outline-color: rgb(12, 112, 226);
    outline-style: solid;
}
.emailInfoAside{
    border: 5px;
    top: 564px;
    left: 673px;
    width: 320px;
    height: 320px;
    position: absolute;
    outline-color: rgb(12, 112, 226);
    outline-style: solid;
}
.contactlabel{
    display: inline-block;
    width: 140px;
    text-align: right;
}
.subButton{
    border: 3px;
    top: 284px;
    left: 123px;
    width: 70px;
    height: 25px;
    position: absolute;
    outline-color: rgb(12, 112, 226);
    outline-style: solid;
}
.socialMediaAside{
    border: 5px;
    top: 564px;
    left: 1250px;
    width: 320px;
    height: 320px;
    position: absolute;
    outline-color: rgb(12, 112, 226);
    outline-style: solid;
}
.socialImg{
    width: 250px;
    height: 100px;
    top: 200px;

}
.pSocial{
    text-align: center;
    margin-left: 5px;
    font-size: 25px;
    color: rgb(12, 112, 226);
    font-family: 'Permanent Marker', cursive;
}